{% extends 'layout.html.twig' %}

{% block title %}
Choix du personnage
{% endblock %}



{% block content %}
  <h1 class="title">Choisissez le premier personnage</h1>

<div class="container-fluid">
  <div class="row">


      {% for i in 0..17 %}

    <div class="col-2">
       
        <div class="thumbnail">

            <h3><span class="titre">{{test1.name}}</span></h3>
            <button type="button" class="">
            <img src=" {{test.imgSm}}" alt="Superhéros" class="img-thumbnail">
            </button>

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
                Details


            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">{{ test.name }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                           <h2>Powerstats</h2>
                            <p>Id : {{ test.id }}</p><br>
                            <p>Nom : {{ test.name }}</p><br>
                            <p>Vie : {{ test.vie }}</p><br>
                            <p>INT : {{ test.intelligence }}</p><br>
                            <p>FOR : {{ test.strength }}</p><br>
                            <p>SPEED : {{ test.speed }}</p><br>
                            <p>DUR : {{ test.durability }}</p><br>
                            <p>POWER : {{ test.power }}</p><br>
                            <p>COMB : {{ test.combat }}</p><br>
                            <hr><br>
                            <h2>Description</h2><br>
                            <br>
                            <h3>Appearance</h3><br>
                            <p>Gender : {{ test.gender }}</p><br>
                            <p>Race : {{ test.race }}</p><br>
                            <p>Height : {{ test.height }}</p><br>
                            <p>Weight : {{ test.weight }}</p><br>
                            <p>Eye color : {{ test.eyeColor }}</p><br>
                            <p>Hair color : {{ test.hairColor }}</p><br>
                            <hr><br>
                            <h3>Biography</h3><br>
                            <p>FullName : {{ test.fullName }}</p><br>
                            <p>AlterEgos : {{ test.alterEgos }}</p><br>
                            <p>Aliases : {{ test.aliases }}</p><br>
                            <p>Place of birth : {{ test.placeOfBirth }}</p><br>
                            <p>First Appearance : {{ test.firstAppearance }}</p><br>
                            <p>Publisher : {{ test.publisher }}</p><br>
                            <hr><br>
                            <h3>Work</h3><br>
                            <p>Occupation : {{ test.occupation }}</p><br>
                            <p>Base : {{ test.base }}</p><br>
                            <hr><br>
                            <h3>Connections</h3><br>
                            <p>Group affiliation : {{ test.groupAffiliation }}</p><br>
                            <p>Relatives : {{ test.relatives }}</p><br>
                            
                            
                            
                            
                            
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}


  </div>
</div>


{% endblock %}
