{% extends 'layout.html.twig' %}

{% block content %}

$SESSIONS


<h1>Personnage</h1>
<img src="{{ Perso1.image }}" alt="">
<p>Id = {{ Perso1.id }}</p><br>
<p>Nom = {{ Perso1.name }}</p><br>
<p>Vie = {{ Perso1.vie }}</p><br>
<p>INT = {{ Perso1.intelligence }}</p><br>
<p>FOR = {{ Perso1.strength }}</p><br>
<p>SPEED = {{ Perso1.speed }}</p><br>
<p>DUR = {{ Perso1.durability }}</p><br>
<p>POWER = {{ Perso1.power }}</p><br>
<p>COMB = {{ Perso1.combat }}</p><br>

<h1>Personnage</h1>
<img src="{{ Perso2.image }}" alt="">
<p>Id = {{ Perso2.id }}</p><br>
<p>Nom = {{ Perso2.name }}</p><br>
<p>Vie = {{ Perso2.vie }}</p><br>
<p>INT = {{ Perso2.intelligence }}</p><br>
<p>FOR = {{ Perso2.strength }}</p><br>
<p>SPEED = {{ Perso2.speed }}</p><br>
<p>DUR = {{ Perso2.durability }}</p><br>
<p>POWER = {{ Perso2.power }}</p><br>
<p>COMB = {{ Perso2.combat }}</p><br>

<form class="" action="/attack" method="GET">

<button type="submit" name="button">ATTAQUEZ</button>




</form>
{% endblock %}
