{% extends 'layout.html.twig' %}

{% block content %}



<h1>Personnage</h1>
<p>Id = {{ test.id }}</p><br>
<p>Nom = {{ test.name }}</p><br>
<p>Vie = {{ test.vie }}</p><br>
<p>INT = {{ test.intelligence }}</p><br>
<p>FOR = {{ test.strength }}</p><br>
<p>SPEED = {{ test.speed }}</p><br>
<p>DUR = {{ test.durability }}</p><br>
<p>POWER = {{ test.power }}</p><br>
<p>COMB = {{ test.combat }}</p><br>


$this->id;
$this->name;
$this->vie;
$this->intelligence;
$this->name;
$this->intelligence;
$this->strength;
$this->speed;
$this->durability;
$this->power;
$this->combat;

{% endblock %}
