{% extends 'layout.html.twig' %}

{% block content %}



<h1>Personnage</h1>
<img src="{{ Perso1.image }}" alt="">
<p>Id = {{ Perso1.id }}<br>
Nom = {{ Perso1.name }}<br>
Vie = {{ Perso1.vie }}<br>
INT = {{ Perso1.intelligence }}<br>
FOR = {{ Perso1.strength }}<br>
SPEED = {{ Perso1.speed }}<br>
DUR = {{ Perso1.durability }}<br>
POWER = {{ Perso1.power }}<br>
COMB = {{ Perso1.combat }}</p><br>

<h1>Personnage</h1>
<img src="{{ Perso2.image }}" alt="">
<p>Id = {{ Perso2.id }}<br>
Nom = {{ Perso2.name }}<br>
Vie = {{ Perso2.vie }}<br>
INT = {{ Perso2.intelligence }}<br>
FOR = {{ Perso2.strength }}<br>
SPEED = {{ Perso2.speed }}<br>
DUR = {{ Perso2.durability }}<br>
POWER = {{ Perso2.power }}<br>
COMB = {{ Perso2.combat }}</p><br>

<form class="" action="/attack1" method="POST">

<button type="submit" name="button">ATTAQUEZ</button>




</form>
{% endblock %}
